<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<!-- 控制台输出 -->
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{-}{faint} %clr{[%t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx"
						   charset="UTF-8">
			</PatternLayout>
		</Console>

		<!-- 滚动文件日志 -->
		<RollingFile name="RollingFileAppender" fileName="logs/app.log"
					 filePattern="logs/%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="ConsoleAppender"/>
			<AppenderRef ref="RollingFileAppender"/>
		</Root>
	</Loggers>
</Configuration>