<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.ArticleMapper">

    <select id="getArchivesDate" resultType="java.lang.String">
        select date_format(create_time,'%Y-%m') as create_time
        from article
        where is_published = 1
        group by date_format(create_time,'%Y-%m')
        order by create_time desc
    </select>

    <select id="getArchives" resultType="com.natsu.blog.model.vo.Archives" >
        select id , title , date_format(create_time,'%Y-%m-%d') as create_time
        from article
        where date_format(create_time,'%Y-%m') = #{date} and is_published = 1
        order by create_time desc
    </select>

    <select id="getRandomArticles" parameterType="int" resultType="com.natsu.blog.model.vo.RandomArticle" >
        select id , title, thumbnail from article where is_published = true order by rand() limit ${count}
    </select>

    <select id="getArticlesByQueryParams" resultType="com.natsu.blog.model.entity.Article" >
        select a.*
        from article as a
        <if test="articleQueryDTO.tagIds != null">
            left join article_tag_ref as b on a.id = b.article_id
            left join tag as c on b.tag_id = c.id
        </if>
        <where>
            <if test="articleQueryDTO.tagIds != null">
                and c.id in
                <foreach collection="articleQueryDTO.tagIds" item="tagId" open="(" close=")" separator=",">
                    ${tagId}
                </foreach>
            </if>
            <if test="articleQueryDTO.categoryId != null">
                and a.category_id = ${articleQueryDTO.categoryId}
            </if>
            <if test="articleQueryDTO.keyword != null">
                and a.title like CONCAT('%',#{articleQueryDTO.keyword},'%')
            </if>
            <if test="articleQueryDTO.isPublished != null">
                and a.is_published = ${articleQueryDTO.isPublished}
            </if>
        </where>
        group by a.id
        order by a.create_time desc
    </select>

    <select id="getArticleTable" resultType="com.natsu.blog.model.vo.admin.AdminArticleTableItem">
        select
            a.id , a.title , a.is_published , a.is_recommend , a.is_appreciation , a.is_comment_enabled ,
            a.create_time , a.update_time , a.views , a.words , a.is_top , c.name category_name
        from
            article as a left join category as c on a.category_id = c.id
        <where>
            <if test="queryParam.categoryId != null">
                and a.category_id = ${queryParam.categoryId}
            </if>
            <if test="queryParam.isTop != null">
                and a.is_top = ${queryParam.isTop}
            </if>
            <if test="queryParam.isPublished != null">
                and a.is_published = ${queryParam.isPublished}
            </if>
            <if test="queryParam.isRecommend != null">
                and a.is_recommend = ${queryParam.isRecommend}
            </if>
            <if test="queryParam.isAppreciation != null">
                and a.is_appreciation = ${queryParam.isAppreciation}
            </if>
            <if test="queryParam.isCommentEnabled != null">
                and a.is_comment_enabled = ${queryParam.isCommentEnabled}
            </if>
            <if test="queryParam.startTime != null and queryParam.endTime != null">
                and a.create_time between #{queryParam.startTime} and #{queryParam.endTime}
            </if>
            <if test="queryParam.keyword != null and queryParam.keyword != ''">
                and a.title like CONCAT('%',#{queryParam.keyword},'%')
            </if>
        </where>
        order by a.create_time desc
    </select>

</mapper>
