<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.ArticleMapper">

    <select id="getArchivesDate" resultType="java.lang.String">
        select
            date_format(create_time, '%Y-%m') as create_time
        from
            article
        where
            is_published = true
        group by date_format(create_time, '%Y-%m')
        order by create_time desc
    </select>

    <select id="getArchives" resultType="com.natsu.blog.model.dto.ArticleDTO">
        select
            id, title, thumbnail, date_format(create_time, '%Y-%m-%d %H:%i:%s') as create_time
        from
            article
        where
            date_format(create_time, '%Y-%m') = #{date} and is_published = true
        order by create_time desc
    </select>

    <select id="getRandomArticles" parameterType="int" resultType="com.natsu.blog.model.dto.ArticleDTO">
        select
            id, title, thumbnail, create_time
        from
            article
        where
            is_published = true and is_recommend = true
        order by rand() limit ${count}
    </select>

    <select id="getArticles" resultType="com.natsu.blog.model.dto.ArticleDTO">
        select
            a.id, a.title, a.thumbnail, a.description, a.create_time, a.update_time, a.category_id,
            a.views, a.words, a.read_time, a.is_top, d.name category_name
        from
            article as a
                left join category as d on a.category_id = d.id
            <if test="queryCond.tagIds != null">
                left join article_tag as b on a.id = b.article_id
                left join tag as c on b.tag_id = c.id
            </if>
        <where>
            <if test="queryCond.tagIds != null">
                and c.id in
                <foreach collection="queryCond.tagIds" item="tagId" open="(" close=")" separator=",">
                    ${tagId}
                </foreach>
            </if>
            <if test="queryCond.categoryId != null">
                and a.category_id = ${queryCond.categoryId}
            </if>
            <if test="queryCond.keyword != null">
                and a.title like concat('%',#{queryCond.keyword},'%')
            </if>
            and a.is_published = true
        </where>
        group by a.id
        order by is_top desc ,create_time desc
    </select>

    <select id="getArticleTable" resultType="com.natsu.blog.model.dto.ArticleDTO">
        select
            a.id, a.title, a.is_published, a.is_recommend, a.is_appreciation, a.is_comment_enabled,
            a.create_time, a.update_time, a.views, a.words, a.is_top, a.category_id, c.name category_name
        from
            article as a left join category as c on a.category_id = c.id
        <where>
            <if test="queryCond.categoryId != null">
                and a.category_id = ${queryCond.categoryId}
            </if>
            <if test="queryCond.startTime != null and queryCond.endTime != null">
                and a.create_time between #{queryCond.startTime} and #{queryCond.endTime}
            </if>
            <if test="queryCond.keyword != null and queryCond.keyword != ''">
                and a.title like concat('%',#{queryCond.keyword},'%')
            </if>
        </where>
        order by a.create_time desc
    </select>

</mapper>
