<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.ArticleMapper">

    <select id="getArchivesDate" resultType="java.lang.String">
        select date_format(create_time,'%Y-%m') as create_time
        from article
        where is_published = 1
        group by date_format(create_time,'%Y-%m')
        order by create_time desc
    </select>

    <select id="getArchives" resultType="com.natsu.blog.model.vo.Archives" >
        select id , title , date_format(create_time,'%Y-%m-%d') as create_time
        from article
        where date_format(create_time,'%Y-%m') = #{date} and is_published = 1
        order by create_time desc
    </select>

    <select id="getRandomArticles" parameterType="int" resultType="com.natsu.blog.model.vo.RandomArticles" >
        select id , title, thumbnail from article where is_published = true order by rand() limit ${count}
    </select>

    <select id="getArticlesByQueryParams" resultType="com.natsu.blog.model.entity.Article" >
        select a.*
        from article as a
        <if test="articleQueryDTO.tagIds != null">
            left join article_tag_ref as b on a.id = b.article_id
            left join tag as c on b.tag_id = c.id
        </if>
        where
        1 = 1
        <if test="articleQueryDTO.tagIds != null">
            and c.id in
            <foreach collection="articleQueryDTO.tagIds" item="tagId" open="(" close=")" separator=",">
                ${tagId}
            </foreach>
        </if>
        <if test="articleQueryDTO.categoryId != null">
            and a.category_id = ${articleQueryDTO.categoryId}
        </if>
        <if test="articleQueryDTO.keyword != null">
            and a.title like CONCAT('%',#{articleQueryDTO.keyword},'%')
        </if>
        <if test="articleQueryDTO.isPublished != null">
            and a.is_published = ${articleQueryDTO.isPublished}
        </if>
        group by a.id
        order by a.create_time desc
    </select>

</mapper>
