<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.CategoryMapper">

    <select id="getCategoryTable" resultType="com.natsu.blog.model.dto.CategoryDTO">
        select
            id, name, create_time, update_time,
            (select count(1) from article where category_id = c.id) article_count
        from
            category c
        <where>
            <if test="queryCond.keyword != null and queryCond.keyword != ''">
                and name like concat('%',#{queryCond.keyword},'%')
            </if>
        </where>
        order by article_count desc
    </select>

</mapper>
