<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.CommentMapper">

    <select id="getRootComments" resultType="com.natsu.blog.model.entity.Comment" >
        select
            id, nickname, email, content, avatar, create_time, ip, is_published, website, qq,
            is_admin_comment, object_type, reply_nickname, object_id, tree_id, parent_comment_id
        from
            comment
        <where>
            <if test="queryCond.objectType != null">
                and object_type = ${queryCond.objectType}
            </if>
            <if test="queryCond.objectId != null">
                and object_id = ${queryCond.objectId}
            </if>
            and parent_comment_id = -1
            and is_published = true
        </where>
        order by create_time desc
    </select>

    <select id="getCommentTable" resultType="com.natsu.blog.model.dto.CommentDTO">
        select
            c.id, c.avatar, c.nickname, c.content, c.tree_id,
            (case object_type when 1 then a.title when 2 then '友链' when 3 then '关于我' when 6 then '动态' end) as page_name,
            c.is_published,
            c.ip,
            c.email,
            c.website,
            c.qq,
            c.create_time
        from
            comment as c left join article as a on c.object_id = a.id
        <where>
            <if test="queryCond.keyword != null and queryCond.keyword != ''">
                and c.nickname like concat('%',#{queryCond.keyword},'%')
                or c.content like concat('%',#{queryCond.keyword},'%')
            </if>
            <if test="queryCond.startTime != null and queryCond.endTime != null">
                and c.create_time between #{queryCond.startTime} and #{queryCond.endTime}
            </if>
            <if test="queryCond.objectType != null">
                and c.object_type = #{queryCond.objectType}
            </if>
            <if test="queryCond.objectId != null">
                and a.id = #{queryCond.objectId}
            </if>
        </where>
        order by c.create_time desc
    </select>

    <select id="getArticleSelector" resultType="com.natsu.blog.model.entity.Article">
        select
            id, title
        from
            article
        where
            id in (select object_id from comment where object_type = '1' and object_id is not null group by object_id)
    </select>

</mapper>
