<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.CommentMapper">

    <select id="getCommentsByQueryParams" resultType="com.natsu.blog.model.entity.Comment" >
        select * from comment
        <where>
            <if test="commentQueryDTO.page != null">
                and page = ${commentQueryDTO.page}
            </if>
            <if test="commentQueryDTO.articleId != null">
                and article_id = ${commentQueryDTO.articleId}
            </if>
            <if test="commentQueryDTO.isPublished != null">
                and is_published = ${commentQueryDTO.isPublished}
            </if>
            <if test="commentQueryDTO.parentCommentId != null">
                and parent_comment_id = ${commentQueryDTO.parentCommentId}
            </if>
            <if test="commentQueryDTO.keyword != null">
                and content like CONCAT('%',#{commentQueryDTO.keyword},'%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
