<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.natsu.blog.mapper.TagMapper">

    <select id="getTagsByArticleId" resultType="com.natsu.blog.model.entity.Tag" >
        select
            id, name, color, create_time, update_time
        from
            tag
        where
            id in ( select tag_id from article_tag_ref where article_id = #{articleId} )
    </select>

    <select id="getTagTable" resultType="com.natsu.blog.model.dto.TagDTO">
        select
            id, name, color, create_time, update_time,
            (select count(*) from article_tag_ref where tag_id = t.id) article_count
        from
            tag t
        <where>
            <if test="queryCond.keyword != null and queryCond.keyword != ''">
                and name like concat('%',#{queryCond.keyword},'%')
            </if>
        </where>
        order by article_count desc, create_time asc
    </select>

</mapper>
